@import './variables.scss';
@import './signs.scss';
@import './users.scss';
@import './add.scss';


body {
  overflow-x: hidden;
  width: 100vw;
  background: $bg-main;
  color: $text-color;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;

  h1 {
    padding: 20px;
    font-size: 30px;
  }

  a {
    align-self: center;
    padding: 10px;
    color: $text-color;
    text-decoration: none;
    font-size: 15px;
    background-color: $bg-card;
    @include round-corners;
    @include shadow;
  }

  img {
    max-width: 50px;
  }

}

nav {
  @include centre-flex;
  flex-wrap: nowrap;
  // margin-left: 50px;
  // margin-right: 50px;

  .nav-button {
    padding: 10px;
    font-weight: 600;
  }

}

.description {
  color: $text-color;
  text-align: center;
  @include centre-flex;
  margin-left: 50px;
  margin-right: 50px;
}

h3 {
  text-align: center;
  align-self: center;
  margin-left: 50px;
  margin-right: 50px;
}


button {
  @include button
}
