.signs {
  background-color: $bg-card;
  @include flex;
  @include round-corners;
  margin: 50px;
  margin-top: 20px;
  padding: 20px;

  &__each {
  padding: 5px;
}

  img {
    max-width: 250px;
    @include round-corners;
    @include shadow;
  }
}
