.users {
  background-color: $bg-card;
  @include centre-flex;
  @include round-corners;
  margin: 50px;
  margin-top: 20px;
  padding-bottom: 20px;

  &__each {
  padding: 20px;

    .text-item{
      @include text-flex
    }

    p {
      padding-left: 7px;
      padding-right: 7px;
    }

    h3 {
      text-align: left;
      margin: 0px;
    }

    .name {
      text-decoration: underline;
      text-align: center
    }

  }

  a {
    @include button;
  }

}
