// Variables

// Colours

$bg-main: #f3e5dc;
$bg-card: #f2c6d9;

$text-color: rgb(245, 43, 144);

// Mixins

@mixin shadow() {
  box-shadow: rgb(243, 121, 182) 0px 3px 8px;
}

@mixin flex() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin form-flex() {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin centre-flex() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@mixin text-flex() {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin round-corners() {
  border-radius: 20px;
}

@mixin button() {
  padding: 10px;
  background-color: $bg-card;
  color: $text-color;
  font-weight: 600;
  border-radius: 5px;
  border-style: solid;
  border-color: $text-color;
  @include round-corners;
  text-decoration: none;
  @include shadow;
  margin: 10px;
}

// Media Queries